<!-- Learning Path Section -->
    <section id="learning_path">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">سیر یادگیری</h2>
                    <h3 class="section-subheading text-muted">
                        <!-- Lorem ipsum dolor sit amet consectetur.-->
                    </h3> 
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <a href="register">
                                    <img class="img-circle img-padded img-responsive" src="img/learning_path/register.png" alt="">
                                </a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>ثبت نام</h3>
                                    <h4 class="subheading">
                                        <a href="register">
                                            لینک انجام ثبت‌نام
                                        </a>
                                    </h4>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-padded img-responsive" src="img/learning_path/ml.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>روز اول</h3>
                                    <h4 class="subheading">یادگیری ماشین کلاسیک (Classic ML)</h4>
                                </div>
                                <ul class="timeline-body" style="list-style-type: disc;">
                                    <li>مقدمه‌ای بر یادگیری ماشین</li>
                                    <li>شاخص‌های اندازه‌گیری عملکرد</li>
                                    <li>طبقه‌بندی و خوشه‌بندی</li>
                                    <li>آماده‌سازی داده‌ها</li>
                                    <li>مدل‌های Ensemble</li>
                                </ul>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-padded img-responsive" src="img/learning_path/deep_learning.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>روز دوم</h3>
                                    <h4 class="subheading">یادگیری عمیق (Deep Learning)</h4>
                                </div>
                                <ul class="timeline-body timeline-body-right">
                                    <li>شبکه‌های عصبی</li>
                                    <li>شبکه‌های عصبی کانولوشن (CNN)</li>
                                    <li>هوش مصنوعی مولد در حوزه تصویر (GAN، Diffusion و VAE)</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-padded img-responsive" src="img/learning_path/robotic.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>روز سوم</h3>
                                    <h4 class="subheading">یادگیری تقویتی و رباتیک (Robotic و RL)</h4>
                                </div>
                                <ul class="timeline-body" style="list-style-type: disc;">
                                    <li>مفاهیم پایه‌ای در رباتیک</li>
                                    <li>مدل‌سازی سیستم‌های رباتیکی</li>
                                    <li>مفاهیم اولیه در یادگیری تقویتی (RL)</li>
                                    <li>مدل‌سازی مسائل بهینه‌سازی با یادگیری تقویتی</li>
                                </ul>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-padded img-responsive" src="img/learning_path/nlp.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>روز چهارم</h3>
                                    <h4 class="subheading">پردازش زبان‌های طبیعی و</h4>
                                    <h4 class="subheading">مدل‌های زبانی بزرگ (NLP و LLM)</h4>
                                </div>
                                <ul class="timeline-body timeline-body-right">
                                    <li>آشنایی با پردازش زبان طبیعی</li>
                                    <li>شبکه‌های ترنسفرمر</li>
                                    <li>مدل‌سازی زبان</li>
                                    <li>مدل‌های زبانی بزرگ: آموزش، ارزیابی و کاربردها</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-padded img-responsive" src="img/learning_path/certificate.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>دریافت گواهی پایان دوره</h3>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>