<!DOCTYPE html>
<html dir="rtl" lang="fa">

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    {% include courses.html %}
    {% include team.html %}
    {% include about.html %}
    {% include footer.html %}
    {% include js.html %}

    <!-- Default Statcounter code for Tehran AI Hub https://www.tehranaihub.com/ -->
    <script type="text/javascript">
      var sc_project=13082592; 
      var sc_invisible=1; 
      var sc_security="1a7b0f6c"; 
      </script>
      <script type="text/javascript"
      src="https://www.statcounter.com/counter/counter.js"
      async></script>
      <noscript><div class="statcounter"><a title="Web Analytics"
      href="https://statcounter.com/" target="_blank"><img
      class="statcounter"
      src="https://c.statcounter.com/13082592/0/1a7b0f6c/1/"
      alt="Web Analytics"
      referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
      <!-- End of Statcounter Code -->
    </body>
</html>
